# App
NEXT_PUBLIC_APP_URL=http://localhost:3001
NEXT_PUBLIC_APP_NAME="Buscadis"

# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/publicadis?schema=public"

# Maps
NEXT_PUBLIC_MAPBOX_TOKEN=

# Auth (NextAuth.js)
NEXTAUTH_URL=http://localhost:3001
NEXTAUTH_SECRET="your-secret-key-here-min-32-chars"

# OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Email
RESEND_API_KEY=

# Storage
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_ACCESS_KEY_ID=
CLOUDFLARE_SECRET_ACCESS_KEY=
CLOUDFLARE_BUCKET_NAME=

# Analytics
NEXT_PUBLIC_GA_ID=
NEXT_PUBLIC_POSTHOG_KEY=
